body {
    padding-top: 10vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #da5d22, #ce0a55);
    color: white; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #d3a008;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6d0202;
    color:#ffffff
}